@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.no-scroll-bar {
  -ms-overflow-style: none;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

body,
html {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  font-family: "Noto Serif", serif;
}

nav.section-links {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  margin-right: 1.4em;
}

nav.section-links a {
  display: block;
  position: relative;
  padding: 0.2em;
  margin-bottom: 0.1em;
  text-decoration: none;
  border-radius: 0.5em;
}

nav.section-links a::after {
  content: '';
  display: inline-block;
  background-color: black;
  border-radius: 100%;
  width: 1em;
  height: 1em;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

nav.section-links a.active::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

section.main.huge {
  padding: calc(env(safe-area-inset-top)) calc(3.2em + env(safe-area-inset-right)) calc(env(safe-area-inset-bottom)) calc(env(safe-area-inset-left));
  height: 100%;
  width: 100%;
  overflow: hidden;
}

section.main.random-colored:nth-of-type(5n + 1) {
  background-color: #ebd680;
}

section.main.random-colored:nth-of-type(5n + 1) .container .content:focus {
  outline: none;
  -webkit-box-shadow: 3px 3px 10px 0px #e4c854 inset, -3px -3px 10px 0px #f1e1a3 inset;
          box-shadow: 3px 3px 10px 0px #e4c854 inset, -3px -3px 10px 0px #f1e1a3 inset;
}

section.main.random-colored:nth-of-type(5n + 2) {
  background-color: #d9a328;
}

section.main.random-colored:nth-of-type(5n + 2) .container .content:focus {
  outline: none;
  -webkit-box-shadow: 3px 3px 10px 0px #af831f inset, -3px -3px 10px 0px #dfb24b inset;
          box-shadow: 3px 3px 10px 0px #af831f inset, -3px -3px 10px 0px #dfb24b inset;
}

section.main.random-colored:nth-of-type(5n + 3) {
  background-color: #64a4cd;
}

section.main.random-colored:nth-of-type(5n + 3) .container .content:focus {
  outline: none;
  -webkit-box-shadow: 3px 3px 10px 0px #3e8dc0 inset, -3px -3px 10px 0px #83b6d7 inset;
          box-shadow: 3px 3px 10px 0px #3e8dc0 inset, -3px -3px 10px 0px #83b6d7 inset;
}

section.main.random-colored:nth-of-type(5n + 4) {
  background-color: #af4735;
}

section.main.random-colored:nth-of-type(5n + 4) .container .content:focus {
  outline: none;
  -webkit-box-shadow: 3px 3px 10px 0px #883729 inset, -3px -3px 10px 0px #c75946 inset;
          box-shadow: 3px 3px 10px 0px #883729 inset, -3px -3px 10px 0px #c75946 inset;
}

section.main.random-colored:nth-of-type(5n + 5) {
  background-color: #06a3d8;
}

section.main.random-colored:nth-of-type(5n + 5) .container .content:focus {
  outline: none;
  -webkit-box-shadow: 3px 3px 10px 0px #057ea6 inset, -3px -3px 10px 0px #0ebdf8 inset;
          box-shadow: 3px 3px 10px 0px #057ea6 inset, -3px -3px 10px 0px #0ebdf8 inset;
}

section.main .container {
  width: 100%;
  height: 100%;
  background-color: inherit;
  padding: 1em;
  overflow: auto;
}

section.main .container .content {
  padding: 1em;
  border-radius: 1em;
  -webkit-transition: -webkit-box-shadow 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-box-shadow 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: box-shadow 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: box-shadow 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-box-shadow 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  overflow: auto;
  text-overflow: ellipsis;
}

section.main .container .content::after {
  content: '';
  display: block;
}

section.main .container .content.self-flex-center-vertical {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.main .container.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.main .container.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content;
  gap: 0 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

section.main .container.grid .content {
  height: 100%;
  max-width: 500px;
}

@media screen and (min-width: 583px) {
  section.main .container.grid {
    -ms-grid-columns: 500px;
        grid-template-columns: 500px;
  }
}

@media screen and (min-width: 883px) {
  section.main .container.grid {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1099px) {
  section.main .container.grid {
    -ms-grid-columns: 500px 500px;
        grid-template-columns: 500px 500px;
  }
}

@media screen and (min-width: 1399px) {
  section.main .container.grid {
    -ms-grid-columns: 32.5% 32.5% 32.5%;
        grid-template-columns: 32.5% 32.5% 32.5%;
  }
}

@media screen and (min-width: 1690px) {
  section.main .container.grid {
    -ms-grid-columns: 500px 500px 500px;
        grid-template-columns: 500px 500px 500px;
  }
}

html,
body {
  font-size: 16px;
}

h1 {
  font-size: calc( 3em + (6 - 3) * 16 * ((100vw - 320px) / (1600 - 320)));
  font-weight: bold;
  line-height: 0.9em;
}

h2 {
  font-size: calc( 2em + (4 - 2) * 16 * ((100vw - 320px) / (1600 - 320)));
  font-weight: normal;
}

p {
  font-size: calc( 1em + (1.2 - 1) * 16 * ((100vw - 320px) / (1600 - 320)));
  line-height: 1.6em;
}

nav.section-links a span {
  font-size: calc( 0.8em + (1 - 0.8) * 16 * ((100vw - 320px) / (1600 - 320)));
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 6em;
  }
  h2 {
    font-size: 4em;
  }
  p {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=style.css.map */