@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$Noto: 'Noto Serif', serif;

* {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.no-scroll-bar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
}

$font-base-size: 16;

body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  font-family: $Noto;
  font-size: #{$font-base-size}px;
  -webkit-overflow-scrolling: touch;
}

$section-colors: (#ebd680, #d9a328, #64a4cd, #af4735, #06a3d8);

nav.section-links {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  margin-right: calc(1.4em + env(safe-area-inset-right));

  a {
    display: block;
    position: relative;
    padding: 0.2em;
    margin-bottom: 0.1em;
    text-decoration: none;
    border-radius: 0.5em;

    &::after {
      content: '';
      display: inline-block;
      background-color: black;
      border-radius: 100%;
      width: 1em;
      height: 1em;
      transform: scale(0.5);
      transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    &.active {
      &::after {
        transform: scale(1);
      }
    }
  }
}

section.main {
  &.huge {
    padding: calc(env(safe-area-inset-top)) calc(3.2em + env(safe-area-inset-right))
      calc(env(safe-area-inset-bottom)) calc(env(safe-area-inset-left));
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &.random-colored {
    @for $i from 1 through length($section-colors) {
      &:nth-of-type(#{length($section-colors)}n + #{$i}) {
        background-color: nth($section-colors, $i);

        .container {
          .content {
            &:focus {
              outline: none;
              box-shadow: 3px 3px 10px 0px darken(nth($section-colors, $i), 10%) inset,
                -3px -3px 10px 0px lighten(nth($section-colors, $i), 8%) inset;
            }
          }
        }
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    background-color: inherit;
    padding: 1em;
    overflow: auto;

    .content {
      padding: 1em;
      border-radius: 1em;
      transition: box-shadow 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
      overflow: auto;
      text-overflow: ellipsis;

      &::after {
        content: '';
        display: block;
      }

      &.self-flex-center-vertical {
        height: fit-content;
        align-self: center;
      }
    }

    &.flex {
      display: flex;
    }

    $content-max-width: 500;

    &.grid {
      display: grid;
      gap: 0 1em;
      grid-template-rows: max-content max-content max-content;

      $grid-columns: (#{$content-max-width}px);
      @for $i from 1 through 2 {
        $grid-columns-auto: ();

        @for $j from 1 through $i + 1 {
          $grid-columns-auto: append($grid-columns-auto, calc(#{100% / ($i + 1)} - #{$font-base-size * $i / ($i + 1)}px));
        }
        $grid-columns: append($grid-columns, #{$content-max-width}px);

        @media screen and (min-width: #{83 + $content-max-width * $i + $content-max-width * 3 / 5 + $i * $font-base-size}px) {
          grid-template-columns: #{$grid-columns-auto};
        }

        @media screen and (min-width: #{83 + $content-max-width * ($i + 1) + $i * $font-base-size}px) {
          grid-template-columns: #{$grid-columns};
        }
      }

      .content {
        max-width: #{$content-max-width}px;
      }
    }
  }
}

$font-min-scale-screen-width: 320;
$font-max-scale-screen-width: 1600;

@function typographic($min, $max, $scale-min: $font-min-scale-screen-width, $scale-max: $font-max-scale-screen-width) {
  @return calc(
    #{$min}em + (#{$max} - #{$min}) * #{$font-base-size} * ((100vw - #{$scale-min}px) /
          (#{$scale-max} - #{$scale-min}))
  );
}

html,
body {
  font-size: #{$font-base-size}px;
}

$h1-font-min: 3;
$h1-font-max: 6;
h1 {
  font-size: typographic(
    $h1-font-min,
    $h1-font-max
  );
  font-weight: bold;
  line-height: 0.9em;
}

$h2-font-min: 2;
$h2-font-max: 4;
h2 {
  font-size: typographic(
    $h2-font-min,
    $h2-font-max
  );
  font-weight: normal;
}

$p-font-min: 1;
$p-font-max: 1.2;
p {
  font-size: typographic(
    $p-font-min,
    $p-font-max
  );
  line-height: 1.6em;
}

@media screen and (max-width: #{$font-min-scale-screen-width}px) {
  h1 {
    font-size: #{$h1-font-min}em;
  }

  h2 {
    font-size: #{$h2-font-min}em;
  }

  p {
    font-size: #{$p-font-min}em;
  }
}

@media screen and (min-width: #{$font-max-scale-screen-width}px) {
  h1 {
    font-size: #{$h1-font-max}em;
  }

  h2 {
    font-size: #{$h2-font-max}em;
  }

  p {
    font-size: #{$p-font-max}em;
  }
}
