@import 'textmgmt';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$Noto: 'Noto Serif', serif;

* {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.no-scroll-bar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
}

$font-base-size: 16;

body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  font-family: $Noto;
  font-size: #{$font-base-size}px;
  -webkit-overflow-scrolling: touch;
}

$section-colors: (#ebd680, #d9a328, #64a4cd, #af4735, #06a3d8);

nav.section-links {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  margin-right: calc(1.4em + env(safe-area-inset-right));

  a {
    display: block;
    position: relative;
    padding: 0.2em;
    margin-bottom: 0.1em;
    text-decoration: none;
    border-radius: 0.5em;

    &::after {
      content: '';
      display: inline-block;
      background-color: black;
      border-radius: 100%;
      width: 1em;
      height: 1em;
      transform: scale(0.5);
      transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    &.active {
      &::after {
        transform: scale(1);
      }
    }
  }
}

section.main {
  &.huge {
    padding: calc(env(safe-area-inset-top)) calc(3.2em + env(safe-area-inset-right))
      calc(env(safe-area-inset-bottom)) calc(env(safe-area-inset-left));
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &.random-colored {
    @for $text-type from 1 through length($section-colors) {
      &:nth-of-type(#{length($section-colors)}n + #{$text-type}) {
        background-color: nth($section-colors, $text-type);

        .container {
          .content {
            &:focus {
              outline: none;
              box-shadow: 3px 3px 10px 0px darken(nth($section-colors, $text-type), 10%) inset,
                -3px -3px 10px 0px lighten(nth($section-colors, $text-type), 8%) inset;
            }
          }
        }
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    background-color: inherit;
    padding: 1em;
    overflow: auto;

    .content {
      padding: 1em;
      border-radius: 1em;
      transition: box-shadow 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
      overflow: auto;
      text-overflow: ellipsis;

      &::after {
        content: '';
        display: block;
      }

      &.self-flex-center-vertical {
        height: fit-content;
        align-self: center;
      }
    }

    &.flex {
      display: flex;
    }

    $content-max-width: 500;

    &.grid {
      display: grid;
      gap: 0 1em;
      grid-template-rows: max-content max-content max-content;

      $grid-columns: (#{$content-max-width}px);
      @for $text-type from 1 through 2 {
        $grid-columns-auto: ();

        @for $j from 1 through $text-type + 1 {
          $grid-columns-auto: append(
            $grid-columns-auto,
            calc(#{100% / ($text-type + 1)} - #{$font-base-size * $text-type / ($text-type + 1)}px)
          );
        }
        $grid-columns: append($grid-columns, #{$content-max-width}px);

        @media screen and (min-width: #{83 + $content-max-width * $text-type + $content-max-width * 3 / 5 + $text-type * $font-base-size}px) {
          grid-template-columns: #{$grid-columns-auto};
        }

        @media screen and (min-width: #{83 + $content-max-width * ($text-type + 1) + $text-type * $font-base-size}px) {
          grid-template-columns: #{$grid-columns};
        }
      }

      .content {
        max-width: #{$content-max-width}px;
      }
    }
  }
}

@include font-style(
  (
    (
      'tag': h1,
      'font-sizes': (
        'min': 3 * $font-base-size,
        'max': 6 * $font-base-size,
      ),
      'properties': (
        'font-weight': bold,
        'line-height': 0.9em,
      )
    ),
    (
      'tag': h2,
      'font-sizes': (
        'min': 2 * $font-base-size,
        'max': 4 * $font-base-size,
      ),
      'properties': (
        'font-weight': normal,
      )
    ),
    (
      'tag': h3,
      'font-sizes': (
        'min': 1.5 * $font-base-size,
        'max': 3 * $font-base-size,
      ),
      'properties': (
        'color': #bd1d1d,
        'font-weight': 700,
        'text-align': center,
        'vertical-align': baseline,
        'margin-left': 3em,
      )
    ),
    (
      'tag': p,
      'font-sizes': (
        'min': 1 * $font-base-size,
        'max': 1.2 * $font-base-size,
      ),
      'properties': (
        'line-height': 1.6em,
      )
    )
  ),
  320,
  1600
);
